body{
    /* #466368 */
     background-color: #0c2d33; 
   
    
    /* background-image: url("http://ayiekdesain.weebly.com/uploads/4/6/6/1/466103/3650002_orig.jpg?254"); */
   
    
}
.home-blur{
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 86%;
    transition: 850ms;
    height: 100%; */
    align-self: center;
    margin-top:10%;
    padding-bottom: 5%;
    
}
.home-main{
    /* background-color: azure; */
    background-color: #0c2d33; 
    align-self: center;
    margin-top:10%;
    padding-bottom: 5%;
    /* background-image: url("http://ayiekdesain.weebly.com/uploads/4/6/6/1/466103/3650002_orig.jpg?254"); */
}
h2{
    text-align: center;
    padding-top:10px;
    font-size: 30px;
    color:antiquewhite;
    letter-spacing: 0.25rem;
}

.options{
    margin-top: 4%;
    width:100%;
    height: 250px;
}
.options-inside{
    float:left;
    border: 1px solid black;
    border-style: inset;
    border-radius: 15px;
    padding-top: 40px;
    padding-right:10px ;
    padding-left: 40px;
    background-color: azure;
    width: 25%;
    height: 90%;
    margin-left: 4%;
}
.options-inside h3{
    letter-spacing: 0.25mm;
}
.options-inside p{
    width: 80%;
    height:100%;
    color: black
}

.options-inside:hover{
    background-color: #BFC0C0;
    transition: all .50s ease-Out;
    animation: bounce 1s;

}

.home-div-links{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1280px) {
    /* micro testing */
    [class*="options-inside"] {
      width: 22%;
      
    }
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="options-inside"] {
      width: 89%;
      margin-left: 0%;
    }
  }

/* @media only screen and (min-width: 600px) {
    .options-inside{
        width: 50%;
    }
  }  */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

