body, .login-main{
    /* background-color: #0c2d33; */
    background-color:#fff;
    height: 100%;
    width: 100%;
    
  }
  
  .loginData h1{
    font-style: italic;
    letter-spacing: 0.2pc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
  }
  .loginForm{
      display: flex;
      justify-content: center;
      margin-top: 5%;
      font-family: 'Ralway';
      
    }
    .loginData{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      height: 420px;
      width:30%;
      border-bottom-color: transparent;
      background-color: ivory;
      border-radius: 10px;
      border: 3px solid black;
    }
    .loginData label{
      /*border: 4px solid black;*/
      font-size: 20px;
      display: table-row;
      align-self: flex-start;
      margin-left:24% ;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    
    .loginData input{
      height: 25px;
      width: 50%;
    }
  
  .links{
      display: flex;
      justify-content: space-around;
      width: 300px;    
      border-top-color: transparent;
      margin-top: 10px;;
      background-color: ivory;
  
  }
  
  .links a{
    text-decoration: none;
    color:#2d419b;
    font-weight: bold;
  }
  #fpass:hover{
    color:cadetblue;
    text-decoration: underline;
  }
  #regAcc:hover {
    color:cadetblue;
    text-decoration: underline;
  }
  
  .button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  #button-login {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-login p {
    font-family: "Helvetica";
    position: relative;
    transition: all .45s ease-Out;
    text-decoration: none;
    color: black;
  }
  
  #circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #BFC0C0;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
  }
  #button-login:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
  }
  
  #button-3:hover p {
    color: #2D3142;
  }
  
  .error-display-login{
    color: red;
    text-align: center;
    /* border: 1px solid black; */
    margin-right: 12px;
    width:200px;
  }
  @media only screen and (max-width: 1280px) {
    .loginForm{
      margin-top: 10%;
    }
    .loginData{
      width: 50%;
    }
  }
  @media only screen and (max-width: 768px) {
    .loginForm{
      margin-top: 20%;
    }
    .loginData{
      width: 95%;
    }
  }

 