.techAnal-table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: 15%;
  color: black;
}
.techAnal-table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 30%;
}

.techAnal-table th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 30%;
}

.techAnal-row:nth-child(even) {
  background-color: #dddddd;
}
